# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage
/volumes

# production
**/build
**/dist
**/target
**/gen/android/.gradle
**/gen/android/local.properties
**/gen/android/keystore.properties
**/*.jks
**/*.keystore
**/*.apk
**/*.idsig
apps/native/.local-signing/

# env files
.env
.env.*
!.env.example
!**/.env.test

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
**/.react-router
**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.log
**/*.bun
